@model MaxFactry.General.AspNet.IIS.Mvc4.PresentationLayer.MaxSecurityChangePasswordViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Password change was not successful. Please review the error messages and try again.")
    <fieldset>
        <legend>Change Password</legend>
        @Html.EditorFor(m => m.OldPassword, additionalViewData: new { LabelColumnWidth = 2 })
        @Html.EditorFor(m => m.NewPassword, additionalViewData: new { LabelColumnWidth = 2 })
        @Html.EditorFor(m => m.ConfirmPassword, additionalViewData: new { LabelColumnWidth = 2 })

        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="input-group">
                        <input type="submit" name="uoProcess" value="Change Password" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}