@model MaxFactry.General.AspNet.IIS.Mvc4.PresentationLayer.MaxSecurityResetPasswordViewModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Reset Password</legend>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p>An email was sent with a code to the email address associated with username @Model.UserName.  Enter the code below and the new password.</p>
            </div>
        </div>
    </div>
    @Html.EditorFor(m => m.UserAuthCodeConfirm, additionalViewData: new { LabelColumnWidth = 2 })
    @Html.EditorFor(m => m.Password, additionalViewData: new { LabelColumnWidth = 2 })
    @Html.EditorFor(m => m.PasswordConfirm, additionalViewData: new { LabelColumnWidth = 2 })
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="input-group">
                    <input name="uoProcess" type="submit" value="Reset" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.UserName)
</fieldset>
}

