<li>@Html.ActionLink("Content", "File", "MaxFileManage")</li>
<li>@Html.ActionLink("Code", "VirtualTextFile", "MaxFileManage")</li>
<li>@Html.ActionLink("Style", "StyleFile", "MaxFileManage")</li>
<li>@Html.ActionLink("Script", "ScriptFile", "MaxFileManage")</li>
<li>@Html.ActionLink("Client Tool", "ClientTool", "MaxFileManage")</li>
<li>@Html.ActionLink("User Import", "FileUserList", "MaxFileManage")</li>
